*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(./images/desktop/image-header.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
ul{
    display: flex;
    gap: 30px;
    list-style: none;
    color: white;
    font-size: larger;
    justify-content: center;
}
.ham{
    display: none;
}
.con{
    color: black;
    background-color: white;
    padding: 10px;
    font-weight: bolder;
    border-radius: 20px;
}
.cre{
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.arr{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}
.box{
    height: 500px;
}
.box1{
    /* width: 100%; */
}
.box2{
    background-image: url(./images/desktop/image-transform.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box3{
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box4{
    /* width: 100%; */
}
.box5{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.box6{
    background-image: url(./images/desktop/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.boxes{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.out{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25% 25% 25% 15%;
}
.text{
    font-weight: bolder;
    font-size: 30px;
    width: 70%;
}
.text0{
    font-weight: bolder;
    font-size: 30px;
    text-align: justify;
    width: 300px;
}
.using{
    color: gray;
}
p{
    font-size: large;
    font-weight: 600;
}
.full{
    color: gray;
}
.learn1{
    font-size: large;
    border-bottom: 5px solid yellow;
    border-radius: 5px;
    width: max-content;
    gap: 30px;
}
.learn2{
    font-size: large;
    border-bottom: 5px solid red;
    border-radius: 5px;
    width: max-content;
}
.out2{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 55%;
}
.out3{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 55%;
}
.text2{
    font-weight: bolder;
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.text3{
    color: gray;
}
.client{
    text-align: center;
    text-transform: uppercase;
    margin-top: 5%;
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.em{
    margin-left: 5%;
    width: 20%;
    margin-top: 0;
    margin-right: auto;
    text-align: center;
}
.img{
    border-radius: 100px;
    width: 50px;
}
.emily{
    color: black;
    margin-top: 30px;
}
.we{
    font-size: small;
    color: gray;
    margin-top: 50px;
}
.total{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}
.text4{
    color: gray;
    margin-bottom: 25%;
}
.src{
    display: flex;
}
.src2{
    display: none;
}
.foot{
    background-color: rgb(51, 208, 156);
    padding-top: 50px;

}
.logo2{
    padding-left: 45%;
    width: 10%;
}
.ul2{
    margin-top: 5%;
    color: green;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}
.icon{
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    padding-left: 45%;
    padding-bottom:8%;
}


@media (width <=720px){
    .header{
        background-image: url(./images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* height: 20vh; */
    }
    ul{
        display: none;
    }
    .ham{
        display: block;
    }
    .box2{
        height: 300px;
        order: -1;
        background-image: url(./images/mobile/image-transform.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box3{
        height: 300px;
        background-image: url(./images/mobile/image-stand-out.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .boxes{
        grid-template-columns: auto;
    }
    .box5{
        background-image: url(./images/mobile/image-graphic-design.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    .box6{
        background-image: url(./images/mobile/image-photography.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 90vh;
    }
    .src{
        display: none;
    }
    .src2 {
        display: grid;
        grid-template-columns: 50% 50%;
        
    }
    .src2 img{
        height: 200px;
    }
    .text2{
        font-weight: bolder;
        font-size: 30px;
        width: 70%;
        margin-left: 15%;
        text-align: end;
    }
    .out{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 0 0 0 0;
    }
    .box1{
        width: 100%;
        text-align: center;
    }
    .text{
        font-weight: bolder;
        font-size: 30px;
        width: 90%;
        text-align: center;
        padding-left:30px;
    }
    .full{
        color: gray;
        width: 280px;
    }
    .learn1{
        font-size: large;
        border-bottom: 5px solid yellow;
        width: max-content;
        margin-left: 80px;
        text-transform: uppercase;
    }
    .using{
        width: 270px;
        color: gray;
    }
    .text0{
        font-weight: bolder;
        font-size: 30px;
        text-align: justify;
        width: 250px;
        word-spacing: 2px;
    }
    .learn2{
        font-size: large;
        border-bottom: 5px solid plum;
        width: max-content;
        margin-left: 80px;

    }
    .out2{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 80% 20% 0 12%;
    }
    .out3{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 120% 20% 0 12%;
    }
    .total{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        justify-content: center;
    }
    .em{
        margin-left: 20%;
        width: 50%;
        margin-top: 0;
        margin-right: 40%;
        text-align: center;
    }
    .logo2{
        padding-left: 40%;
        width: 25%;
    }
}